<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>License Plate Search</title>
</head>

<body>

<form th:action="@{/search}" method="get">
  <input th:name="q" type="text" placeholder="Enter plate number"/>
  <button type="submit">Search</button>
</form>

<a th:href="@{/search?police=1}">Police cars only</a>
<a th:href="@{/search?diplomat=1}">Diplomats only</a>

<table>
  <colgroup span="5"></colgroup>
  <tr>
    <th>Licence plate</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Color</th>
    <th>Year</th>
  </tr>
  <tr th:each="plate : ${resultSet}">
    <td th:text="${plate.getPlate()}"></td>
    <td><a th:href="@{/search/} + ${plate.getCarBrand()}" th:text="${plate.getCarBrand()}"></a></td>
    <td th:text="${plate.getCarModel()}"></td>
    <td th:text="${plate.getColor()}"></td>
    <td th:text="${plate.getYear()}"></td>
  </tr>
</table>

</body>
</html>
